body {
    max-width: 640px;
    margin: 0 auto;
    font-family: Î¢ÈíÑÅºÚ;
}
p{margin: 2% 0;padding: 0;}
img{width: 42.11863528828338%}
.ads,#title{border-bottom: 1px solid #ffc5d1;padding: 4%;}
#title{text-align: center;}
.di{display: inline-block;vertical-align: top;}
.adsText{width: 52%;margin-left: 4%;}
.adsTitle{color: #404257}
.price{color: #f54c47;margin-top: 8%;}
.adsSecTile{color: #6e7081}
.oldPrice,.savePrice{color: #a2a3ab}
.oldPrice{text-decoration:line-through}
.zhekou{float: right;}
.hrefPic{display:inline-block;float: right;width: 8%;}
.returnPic{display:inline-block;float: left;width: 3%;}