html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-weight:inherit;
    font-style:inherit;
    font-size:100%;
    font-family:inherit;
    vertical-align:baseline;
}
body{
	font-family:'微软雅黑';
}
#afui select, #afui textarea, #afui input[type="text"], #afui input[type=search], #afui input[type="password"], #afui input[type="datetime"], #afui input[type="datetime-local"], #afui input[type="date"], #afui input[type="month"], #afui input[type="time"], #afui input[type="week"], #afui input[type="number"], #afui input[type="email"], #afui input[type="url"], #afui input[type="tel"], #afui input[type="color"], #afui .input-group{
    margin-bottom: 0;
}
.footer {
    display:none !important;
}
#afui img{-webkit-tap-highlight-color:rgba(0,0,0,0);outline:none}
.b_f{font-size: 4.8rem}
.m_f{font-size: 4.1rem}
.s_f{font-size: 2.9rem}
input{outline: none}
html{font-size: 62.5%;}
@media screen and (max-width: 800px) {
    html{font-size:40%;}
}
@media screen and (max-width: 320px) {
    html{font-size:30%;}
}
.tc{text-align: center}
.width100{display: block;width: 100%}
.width65{width: 65%}
.width32{width: 30.2%;margin-left: 3%}
.width20{width: 20%}
#afui .panel{padding: 0;background: none;color: #000006;font-size: 2.9rem}
.pa{position: absolute}
.pr{position: relative}
.pf{position: fixed}
.mt_5{margin-top: 4%}
.mt_10{margin-top: 10%}

.dz1{left: 39.3%;top: 45.5%}
.dz2{left: 83.7%;top: 45.5%}
.dz3{left: 39.3%;top: 90.3%}
.dz4{left: 83.7%;top: 90.3%}
.dz{width: 9%}
.di{display: inline-block}
.dn{display: none}
.dz1nine{left: 23.3%;top: 43%}
.dz2nine{left: 68.3%;top: 43%}
.dz3nine{left: 23.3%;top: 90%}
.dz4nine{left: 68.3%;top: 90%}

#closeInfo{margin-top: -5%}
#info,#closeInfo{display: none}
.head{
    display: inline-block;
    vertical-align: bottom;
}
#heads{text-align: center}
#head1{width: 20.9375%}
#head2{width: 22.34375%}
#head3{width: 26.5625%}
#head4{width: 26.25%}

.share{margin-top: 3%;width: 100%}
.click_like_area_r,.click_like_area_l{bottom: 20%;width: 46%}
.click_like_area_r{right: 6%}
.click_like_area_l{left: 5%}
.click_like_area_rac,.click_like_area_lac{bottom: 2%;width: 46%}
.click_like_area_rac{right: 6%}
.click_like_area_lac{left: 5%}
.cnums{top: 12%;width: 17%}
.cnum1{left: 4.5%}
.cnum2{left: 23%}
.cnum3{left: 42%}
.cnum4{left: 60%}
.cnum5{left: 78%}
#to_top{bottom: 0;right: 5%;z-index:1000;width:15%}
.coupon_l,.coupon_r{bottom:20%;width:38%}
.coupon_r{right:6%}
.coupon_l{left:5%}
#afui > #navbar{background:#fff;border:#fff}
#afui > #header{background:#fff;border:#fff}