@charset "UTF-8";
/*base.css*/
/* 防止用户自定义背景颜色对网页的影响，添加让用户可以自定义字体 */
html {
    background:white;
    color:black;
}
/* 内外边距通常让各个浏览器样式的表现位置不同 */
body,img,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    margin:0;
    padding:0;
}
/* 去除默认边框 */
fieldset,img {
    border:none;
}
/* ie6 7 8(q) bug 显示为行内表现 */
iframe {
    display:block;
}
/* 一致的 del 样式 */
del {
    text-decoration:line-through;
}
/* 去掉列表前的标识，li 会继承 */
ol,ul {
    list-style:none;
}
/* 默认不显示下划线，保持页面简洁 */
ins,a {
    text-decoration:none;
}
/* 清除浮动 */
.clearfix:before,.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after {
    clear:both;
    overflow:hidden;
}
.clearfix {
    zoom:1; /* for ie6 & ie7 */
}
.clear {
    clear:both;
    display:block;
    font-size:0;
    height:0;
    line-height:0;
    overflow:hidden;
}
/* 设置显示和隐藏，通常用来与 js 配合 */
.hide {
    display:none;
}
.block {
    display:block;
}
.pr{ position: relative;}
.hi{ height: 100%;}
/*自定义样式*/
#afui .header{
    height: auto;
    background: none;
    z-index: 0;
    border-bottom: #d2d2d2;
}
.list{
    list-style: none;
    text-align: center;
    width: 100%;
    margin-bottom: 0;
}
.list li{
    height: 44px;
    line-height: 44px;
    display: inline-block;
    border-bottom: 1px solid #bbb;
    vertical-align: middle;
}
.list li:first-child{
    width: 35%;
}
.list .select{ border-bottom: 2px solid #ef2b8c;}
.list li img{
    width: 100%;
    height: 44px;
}
.nav{
    width: 21%;
    text-align: center;
}
.nav a{
    display: block;
    color: #ef2b8c;
    font-size: 3rem;
    font-family: "microsoft yahei";
}
.goods_list li{
    border-bottom: 1px dashed #bbb;
    padding: 1.8rem 0;
    width: 100%;
}
.goods_img{
    width: 31%;
    display: inline-block;
    position: relative;
}
.goods_img img{ width: 100%;}
.note{
    width: 100%;
    height: 2rem;
    display: block;
    position: absolute;
    bottom: 0;
    line-height: 2rem;
}
.note span{
    position: absolute;
    display: block;
    top: 0;
    text-align: right;
}
.mask{
    width: 100%;
    height: 100%;
    background: #666;
    opacity: .6;
}
.note span{
    width: 100%;
    font-size: 2.4rem;
    color: #fff;
    font-family: "宋体";
}
.goods_info{
    width: 66%;
    display: inline-block;
    float: right;
}
.detail{
    font-family: "黑体";
    font-size: 2.4rem;
}
.tag{ padding:3% 0;}
.tag_1,
.tag_2,
.tag_3,
.tag_4{
    background: #955bff;
    padding: 1% 3%;
    font-size: 1.8rem;
    font-family: "microsoft yahei";
    color: #fff;
    margin: 1rem .8rem 1rem 0;
}
.tag_2{ background: #61b300;}
.tag_3{ background: #ef2b8c;}
.tag_4{ background: #ff8e14;}
.real_price{
    font-family: "microsoft yahei";
    color: #ef2b8c;
    font-size: 3.4rem;
}
.inv_price{
    font-family: "microsoft yahei";
    color: #c3c3c3;
    font-size: 3.0rem;
}
.share{ width: 100%;text-align: center}
.share_to{
    display: inline-block;
    width: 18.5%;
}
html{font-size: 42%;/*10 ÷ 16 × 100% = 62.5%*/}
@media (min-width: 800px){
	html{
        font-size: 110%;
    } 
    .list li{
        height:80px;
        line-height:80px;
    }
    .list li img{
    	height:80px;
    }
}
@media (max-width: 320px){
    html{
        font-size: 38%;
    }
}