body {
    max-width: 640px;
    margin: 0 auto;
    font-family: Arial, Free Sans;
    background:url(../images/bg.png);
}

#body_content{
	width: 100%;
	margin:0 auto;
}

.text_pic{
	width: 93%;
}

.step_pic{
	width: 27%;
	position: relative;
	left: -8%;
}

.hand_pic{
	width: 14.6%;
}

.content{
	position: relative;
	padding-top: 5%;
	margin: 0 auto;
	width: 80%;
}

.step1_pic2{
	position: relative;
	right: -16%;
}

.step1_pic3{
	position: absolute;
	top: 71%;
	right: 22%;
}

#step1{
	border-bottom: 1px dotted #c1b3ac;
}

.step1_content{
	padding-bottom: 15%;
	border-left: 5px solid #facd89;
}

.step2_pic2{
	position: relative;
	right: -9%;
}

.step2_pic3{
	position: absolute;
	top: 38%;
	right: 17%;
}

#step2{
	border-bottom: 1px dotted #c1b3ac;
}

.step2_content{
	padding-bottom: 15%;
	border-left: 5px solid #f29c9f;
}

.step2_pic4{
	position: relative;
	right: -9%;
}

.step3_pic2{
	position: relative;
	right: -9%;
}

.step3_pic3{
	position: absolute;
	top: 48%;
	right: 26%;
}

#step3{
	border-bottom: 1px dotted #c1b3ac;
}

.step3_content{
	padding-bottom: 15%;
	border-left: 5px solid #8f82bc;
}

.step3_pic4{
	position: relative;
	right: -9%;
}

.step3_pic5{
	position: absolute;
	top: 90%;
	right: 59%;
}

.step4_pic2{
	position: relative;
	right: -9%;
}

#step4{
	border-bottom: 1px dotted #c1b3ac;
}

.step4_content{
	padding-bottom: 15%;
	border-left: 5px solid #88abda;
}

.step4_pic4{
	position: relative;
	right: -5%;
}

.step4_pic5{
	position: absolute;
	top: 90%;
	right: 59%;
}

.step5_pic2{
	position: relative;
	right: -9%;
}

.step5_content{
	padding-bottom: 15%;
	border-left: 5px solid #89c997;
}