body {
    max-width: 640px;
    margin: 0 auto;
    font-family: 黑体,Arial, Free Sans;
    position: relative;
    background:#fff5eb;
    padding:7% 3%;
    position:relative;
}

#content{
	padding: 20% 3% 9% 3%;
	background:#fff;
}
p{color:#4c2600;}
.co{color:#fe8408;}
p img{display: inline-block;vertical-align: bottom;width:5.3639846743295%;}
.laba{width:30%;position: absolute;left:1%;top:1%;}
.cos1{width:15%;position: absolute;left:21%;top:17%;}
.cos2{width:24%;position: absolute;left:65%;top:1%;}