@charset "UTF-8";
/*base.css*/
/* 防止用户自定义背景颜色对网页的影响，添加让用户可以自定义字体 */
html {
    background:white;
    color:black;
}
/* 内外边距通常让各个浏览器样式的表现位置不同 */
body,img,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    margin:0;
    padding:0;
}
/* 去除默认边框 */
fieldset,img { border:none;}
/* ie6 7 8(q) bug 显示为行内表现 */
iframe { display:block;}
/* 一致的 del 样式 */
del{ text-decoration:line-through;}
/* 去掉列表前的标识，li 会继承 */
ol,ul { list-style:none;}
/* 默认不显示下划线，保持页面简洁 */
ins,a { text-decoration:none;}
/* 清除浮动 */
.clearfix:before,.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after {
    clear:both;
    overflow:hidden;
}
.clearfix { zoom:1; /* for ie6 & ie7 */}
.clear {
    clear:both;
    display:block;
    font-size:0;
    height:0;
    line-height:0;
    overflow:hidden;
}
/* 设置显示和隐藏，通常用来与 js 配合 */
.hide { display:none;}
.block { display:block;}
.pr{ position: relative;}
.pa{position: absolute;}
.hi{ height: 100%;}
.wi{ width: 100%;}
.on{outline: none;}
.born{border: none;}

/*改写样式*/
input{ background: none;}
#afui input[type="text"]{
    color: #612616 !important;
}
.afui_panel_mask{background-color:rgba(0,0,0,0.5)}
#afui select, #afui textarea, #afui input[type="text"], #afui input[type=search], #afui input[type="password"], #afui input[type="datetime"], #afui input[type="datetime-local"], #afui input[type="date"], #afui input[type="month"], #afui input[type="time"], #afui input[type="week"], #afui input[type="number"], #afui input[type="email"], #afui input[type="url"], #afui input[type="tel"], #afui input[type="color"], #afui .input-group{
    width: 56%;
    height: 8%;
    padding: 0;
    margin-bottom: 0;
    background: none;
    border-radius: 5px;
    font-weight: normal;
    border: none;
    -webkit-appearance: none;
    box-sizing: border-box;
}
.afPopup{
    padding: 0;
    border: 1px solid #612616;
}
.afPopup>HEADER,
.afPopup>FOOTER {
    display: none !important;
}
.afPopup>DIV{
    margin: 0;
}

.afPopup img{
    width: 100%;
}
/*自定义样式*/
#afui .panel{ padding: 0;}
.show_area{
    top: 69%;
    left:20%;
    height: 28.5%;
    width:60%;
    z-index: 200;
    background: #fa0;
    overflow: hidden;
}
.pengyou,
.weibo,
.weixin{
    width: 25%;
    height: 37%;
}

.showMsg{
    width: 80%;
    height: 65%;
    top: 20%;
    left: 10%;
    border: none;
    padding: 2%;
    max-height: 65%;
    overflow-y: auto;
    overflow-x: hidden;
}
#msg1 .pengyou{
    top: 36%;
    left: 23%;
}
#msg1 .weixin{
    top: 36%;
    left: 54%;
}
#msg9 .weixin{
    top: 40%;
    left: 38%;
}
#msg2 .weibo{
    top: 44%;
    left: 37%;
}
#msg3 input[type="text"]{
    top: 54%;
    left: 8%;
    width: 68%;
    height: 15%;
}
#msg3 input[type="button"]{
    width: 17%;
    height:17%;
    top: 53%;
    left: 78%;
    background: none;
}
#msg4 input[type="text"]{
    top: 42%;
    left: 7%;
    width: 68%;
    height: 15%;
}
#msg4 input[type="button"]{
    width: 17%;
    height:17%;
    top: 41%;
    left: 77%;
    background: none;
}
/*#msg5*/
.check{
    width: 10%;
    opacity: 0;
}
#c1{
    top: 32%;
    left: 8%;
}
#c2{
    top: 32%;
    left: 39%;
}
#c3{
    top: 32%;
    left: 70.5%;
}
#c4{
    top: 55%;
    left: 8%;
}
#c5{
    top: 55%;
    left: 39%;
}
#c6{
    top: 55%;
    left: 70.5%;
}
#msg6 input[type="text"]{
    top: 51%;
    left: 16%;
    width: 55%;
    height: 15%;
}
#msg6 input[type="button"]{
    width: 17%;
    height:17%;
    top: 51%;
    left: 73%;
    background: none;
}
#msg7 .right{
    width: 25%;
    height: 38%;
    top: 35%;
    left: 22%;
}
#msg7 .wrong{
    width: 25%;
    height: 38%;
    top: 35%;
    left: 53%;
}
#msg8 input[type="text"]{
    top: 48%;
    left: 14%;
    width: 55%;
    height: 15%;
}
#msg8 input[type="button"]{
    width: 17%;
    height:17%;
    top: 47%;
    left: 71%;
    background: none;
}
#msg10 input[type="text"]{
    top: 53%;
    left: 14%;
    width: 54%;
    height: 15%;
}
#msg10 input[type="button"]{
    width: 17%;
    height:17%;
    top: 53%;
    left: 71%;
    background: none;
}
#msg11 input[type="text"]{
    top: 54%;
    left: 14%;
    width: 55%;
    height: 15%;
}
#msg11 input[type="button"]{
    width: 17%;
    height: 17%;
    top: 53%;
    left: 71%;
    background: none;
}
#msg12 .mmd,
#msg12 .qdb,
#msg12 .hxq,
#msg12 .zsm{
    width: 20.5%;
    height: 30%;
    top: 37%;
}
#msg12 .mmd{ left: 9%;}
#msg12 .qdb{ left: 29.5%;}
#msg12 .hxq{ left: 50%;}
#msg12 .zsm{ left: 70.5%;}

.bottom input[type="text"]{
    top: 10%;
    left: 11%;
    width: 56%;
    height: 8%;
    font-size: 1.8rem;
    line-height: 8%;
    font-family: "microsoft yahei";
}
.bottom input[type="button"]{
    width: 22%;
    height: 9%;
    top: 9%;
    left: 68%;
    background: none;
}
#refresh{
    top: 3%;
    right: 2%;
    width:17%;
    height:28%;
}
iframe{
    width: 100%;
    height: 100%;
}
html{font-size: 42%;/*10 ÷ 16 × 100% = 62.5%*/}
@media (min-width: 800px){
    html{ font-size: 110%; }
    .list li{
        height:80px;
        line-height:80px;
    }
    .list li img{ height:80px; }
}
@media (max-width: 320px){
    html{ font-size: 38%; }
}